# Git
.git
.gitignore

# Docker
.docker
Dockerfile
db.sqlite3

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Terraform
.terraform
.terraform/
terraform.


#env
.env
